@font-face {
  font-family: 'Source Sans Pro';
}

* {
  box-sizing: border-box;
  background: #f2f2f2;
  font-family: 'Source Sans Pro';
}

#main {
  width: 70%;
  margin: 0 auto;
  margin-top: 5px;
}

a {
  font-size: 0.9em;
  text-align: left;
}

#btn {
  margin-top: -25px;
  margin-bottom: 15px;
  text-align: right;
}

#student {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 25px;
}

img {
  margin: 0 auto;
  border: solid 15px orange;
}

#side-panel {
  padding: 15px;
  border: solid 15px orange;
  background: black;
}

#side-panel > div {
  padding: 5px;
}

#side-panel > div > span:first-child {
  font-size: 0.8em;
}

.edit-panel > div {
  display: flex;
  justify-content: space-evenly;
}
